@media screen and (min-width: 500px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    main {
        grid-template-columns: 2fr 1fr;
    }

    h1 {
        grid-column: 1 / 3;
    }
}